* {
  margin: 0;
  box-sizing: border-box;
  color: #172b4d;
  font-family: "Inter", sans-serif;
}

main {
  min-height: 100vh;
  display: grid;
}

a {
  color: black;
  text-decoration: none;
}

.desktop-nav {
  display: none;
}

.intro {
  font-size: 40px;
  margin-bottom: 58px;
  margin-top: 65px;
  text-align: center;
  color: #172b4d;
  font-weight: 700;
}

.work-list li {
  background: #ebf0ee;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
}

header {
  display: flex;
  justify-content: space-between;

  /* margin: 24px 24px 0 24px; */
  margin: 24px 24px 0 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 24px;
}

header h2 {
  font-weight: 600;
}

header .fa-git {
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.welcome {
  color: #28352f;
  font-weight: 600;
  font-size: 20px;
  min-width: 90px;
  height: 28px;
}

nav .fa-bars {
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #28352f;
}

h2 span {
  color: #36b37e;
}

.info {
  color: #172b4d;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 60px;
  padding: 0 18px;
}

.icon-list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icon-list li {
  list-style: none;
  margin-right: 19px;
}

.icon-list a {
  font-size: 25px;
  color: #505f79;
}

.fa:hover {
  color: #36b37e;
}

i {
  color: #505f79;
}

#main-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #28352f;
  min-width: 227px;
  height: 97px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#main-head h2 {
  font-size: 28px;
  justify-items: center;
}

.work-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin-bottom: 24px;
  margin-left: 22px;
  margin-right: 22px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #28352f;
}

.projectimg {
  height: 252px;
  min-width: 100%;
  background-color: #ebf0ee;
  margin: 0;
}

.green-line {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.work-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  list-style: none;
  color: #36b37e;
  margin: 0;
  padding: 10px;
  height: auto;
}

.work-button {
  min-width: 122px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
  border: none;
  margin-top: 36px;
  margin-bottom: 22px;
}

.linkhover:hover {
  cursor: pointer;

  /* box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24); */
  animation: action-rot 250ms ease-in-out;
  transform: rotateY(180deg);
}

#about-head {
  background-image:
    url(./images/illustration2.svg),
    url(./images/illustration.svg);
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
  position: relative;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;

  /* justify-content: space-around; */
}

.contact-text p {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

#about-head p {
  min-width: 351px;
  height: 189px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-top: 24px;
}

#about-head h2 {
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.about-icon {
  background-color: #fff;
  padding: 18px;
  border-radius: 50%;
  margin-top: 34px;
  margin-bottom: 70px;
}

.about-div {
  height: 352px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 24px;
  margin-left: 22px;
  margin-right: 22px;
  padding: 0;
}

.about-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  list-style: none;
  color: #36b37e;
  margin: 0;
  padding: 12px;
  height: auto;
}

.about-list li {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 12px;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  color: #36b37e;
}

.about-button {
  min-width: 159px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
  border: none;
  margin-bottom: 26px;
  margin-top: 36px;
}

.about-button:focus {
  background-color: #36b37f;
}

.about-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  background: #36b37f;
  color: #fff;
  cursor: pointer;
}

.about-button:active {
  background: #008552;
  color: #fff;
}

.work-button:focus {
  background-color: #36b37f;
}

.work-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  background: #36b37f;
  color: #fff;
  cursor: pointer;
}

.work-button:active {
  background: #008552;
  color: #fff;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.contact-text {
  min-width: 327px;
  height: 363px;
  margin: 24px 0;
  margin: 0 auto;
  margin-bottom: 58px;
}

.form-class {
  min-width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

input {
  min-width: 327px;
  height: 48px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 24px;
}

::placeholder {
  height: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6b778c;
  padding: 15px 16px 15px 16px;
}

.form-class textarea {
  min-width: 327px;
  height: 114px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  background: #fff;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  color: #091e42;
  margin-bottom: 24px;
}

textarea::placeholder {
  color: #091e42;
}

.line {
  min-width: 5px;
  text-align: center;
  margin-left: 0;
  color: black;
}

footer {
  background: white url(./images/illustration-contact-form.svg) no-repeat;
  background-size: 20%;
  background-position-x: right;
  background-position-y: 670px;
  margin-right: 0;
}

#email-footer {
  height: 189px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #42526e;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}

.footer-img {
  margin: 0 auto;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .header-desktop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 24px 24px 0 0;
    margin-right: 0;
  }

  .home-page {
    background-image: url(./images/header.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
  }

  .Desktop-footer-line {
    display: none;
  }
}

@media (min-width: 992px) {
  header {
    top: 0;
    justify-content: center;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 0;
    top: 0;
    padding-bottom: 160px;
  }

  .header-desktop {
    background-image: url(./images/Header-desktop.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-bottom: 200px;
    padding-top: 26px;
    margin-bottom: 100px;
  }

  .home-page {
    margin-top: 0;
    padding-top: 0;
    top: 0;
  }

  .home-page i {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    margin: 0 auto;
  }

  .desktop-nav {
    align-items: center;
    list-style: none;
    min-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .welcome {
    display: none;
  }

  nav .fa-bars {
    display: none;
  }

  .desktop-nav li {
    margin: 0 10px;
    color: #344563;
    font-style: normal;
    font-weight: 600;
  }

  .desktop-nav li:hover {
    transform: translateY(-2px);
    transition: background-color 60ms ease-out;
  }

  .desktop-nav a:hover {
    color: #36b37e;
  }

  .intro {
    min-width: 920px;
    height: 114px;
    margin-bottom: 0;
    letter-spacing: 0.37px;
    font-weight: 800;
    padding-bottom: 30px;
  }

  .info {
    width: 920px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }

  .icon-list {
    margin-bottom: 91px;
  }

  #main-head {
    margin-left: 29%;
    justify-items: center;
    min-width: 447px;
    height: 48px;
  }

  .work-container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 52px;
    margin-left: 70px;
    margin-right: 135px;
    margin-bottom: 108px;
    min-width: 1120px;
    padding: 0;
  }

  .work-div {
    margin: 0 auto;
    border: 2px solid #ebf0ee;
    border-radius: 8px;
    height: 474px;
    min-width: 327px;
    margin-right: 17px;
    margin-bottom: 17px;
  }

  .work-div:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    transition: box-shadow 200ms ease-in-out, transform 500ms ease-in-out;
    transform: translateY(-2px);
    transform: translateX(-2px);
  }

  #about-head {
    background-image:
      url(./images/illustration-about-me-desktop.png),
      url(./images/illustration-about-me-2-desktop.png);
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    position: relative;
    min-width: 1178px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 192px;
  }

  .contact-text p {
    font-weight: bold;
    font-size: 28px;
    line-height: 52px;
    color: #172b4d;
    width: 463px;
  }

  #about-head p {
    width: 920px;
    height: 189px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: -60px;
  }

  .form-class button {
    margin-top: 0;
  }

  #about-head button {
    margin-top: 0;
  }

  .info-about-me {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 52px;
    margin-left: 55px;
    margin-right: 143px;
    margin-bottom: 108px;
  }

  .info-about-me div:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transform: translateY(-2px);
  }

  .about-div {
    margin: 5px auto;
    border: 2px solid #ebf0ee;
    border-radius: 8px;
    height: 352px;
    min-width: 369px;
  }

  .about-div h4 {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: -10px;
  }

  #languages-div {
    margin-top: -10px;
    margin-bottom: 80px;
  }

  .form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 95%;
  }

  .footer-img,
  #email-footer {
    display: none;
  }

  .icon-list-div-footer {
    margin-top: 225px;
    height: 42px;
    margin-bottom: -25px;
  }

  .contact-text {
    margin-left: 0;
    min-width: 463px;
    height: 256px;
    margin-right: 10px;
  }

  .form-class {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-width: 684px;
    height: 330px;
  }

  #name {
    height: 48px;
    min-width: 630px;
    border-radius: 4px;
  }

  #email {
    height: 48px;
    min-width: 630px;
    border-radius: 4px;
  }

  #mail-text {
    height: 114px;
    min-width: 630px;
    border-radius: 4px;
  }

  .footer-nav {
    background-image:
      url(./images/Frame.png),
      url(./images/illustration-2-contact-form-desktop.png),
      url(./images/Frame-1.png);
    background-position: bottom right, 13rem bottom, bottom left;
    background-size: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    margin-top: 10%;
    min-width: 1178px;
    overflow-y: hidden;
  }

  .Desktop-footer-line {
    min-width: 1178px;
    border-top: 1px solid #dfe1e6;
    height: 1px;
    margin-top: -20px;
  }

  .green-line {
    display: none;
  }

  .icon-list li:hover {
    animation: rotation 200ms linear both;
    color: rgba(54, 179, 126, 1);
  }
}
